* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url(images/bgimg.jpg);
    height: 700px;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
}

.main .box {
    height: 700px;
    width: 100%;
    opacity: 0.6;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    max-width: 70vw;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

nav img {
    height: 70px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    height: 100%;
    position: relative;
    gap: 15px;
    padding: 30px;
}

.text span:nth-child(1) {
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-weight: 900;
    font-size: 3rem;
    text-align: center;
}

.text span:nth-child(2) {
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

.text :nth-child(3) {
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
}

.seperation {
    background-color: rgb(35, 35, 35);
    position: relative;
    height: 7px;
}

.btn {
    padding: 5px 15px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.2);
    color: white;
    padding: 5px 20px;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

.redbtn {
    background-color: red;
    color: white;
    padding: 7px 17px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}

.btnmail {
    padding: 13px 160px 13px 15px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.2);
    border-radius: 4px;
    font-weight: 600;
    font-size: 13px;
    border: 1px solid rgba(94, 91, 91, 0.5);
}

.redbtn-signin {
    background-color: red;
    color: white;
    padding: 8px 20px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.text2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.borderbtn {
    border: 1px solid white;
    padding: 8px 20px;
    font-weight: 600;
}

.first {
    display: flex;
    justify-content: center;
    color: white;
    max-width: 70vw;
    margin: auto;
    align-items: center;
}

.secimg {
    position: relative;
}

.secimg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secimg video {
    position: absolute;
    top: 51px;
    right: 0;
}


.first span:first-child {
    font-size: 48px;
    font-weight: 900;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    padding-top: 25px;
}

.first span:nth-child(2) {
    font-size: 24px;
    font-weight: 400;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    padding-bottom: 25px;
}

.video2{
    display: flex;
    justify-content: center;
    color: white;
    max-width: 70vw;
    margin: auto;
    align-items: center;
}

.secimgg {
    position: relative;
}
.secimgg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secimgg video {
    position: absolute;
    top: 51px;
    right: 0;
}
.second div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.second span:first-child {
    width: 40vw;
}

.faq {
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 24px;
}

.faq h2 {
    text-align: center;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 48px;
}

.faqbox {
    display: flex;
    background-color: rgb(37, 36, 36);
    padding: 15px;
    width: 60vw;
    margin: 20px auto;
    justify-content: space-between;
    cursor: pointer;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

.faqbox:hover {
    background-color: #414141;
}

.end {
    color: white;
    text-align: center;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 24px;
}

.end .text2 {
    margin-top: 27px;
    margin-bottom: 60px;
}

footer {
    color: white;
    margin: auto;
    max-width: 60vw;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 14px;
    padding-bottom: 25px;
}

footer .question {
    padding-bottom: 25px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.footer-items {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.footer-items a {
    color: white;
}

@media screen and (max-width:1300px) {
    .first {
        flex-wrap: wrap;
    }
}

@media screen and (max-width:1300px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }

    .first .secimg img {
        width: 400px;
    }

    .first .secimg video {
        width: 400px;
    }

    .text span:first-child {
        font-size: 32px;
    }

    .text span:nth-child(2) {
        font-size: 18px;
    }

    .text span:nth-child(3) {
        font-size: 18px;
    }

    .btnmail {
        width: 100px;
    }

    nav {
        max-width: 90vw;
    }

    .first span:first-child {
        font-size: 32px;
    }

    .first span:nth-child(2) {
        font-size: 18px;
    }

    .faq h2 {
        font-size: 32px;
    }

    .end {
        font-size: 18px;
    }

    .text2 {
        display: flex;
        flex-direction: column;
    }

    footer {
        max-width: 80vw;
    }

    .footer-items {
        align-items: center;
    }

    .faqbox span:first-child {
        font-size: 18px;
    }

}